URxvt*geometry: 90x72
URxvt*depth: 32
URxvt*background: [70]#101010
URxvt*foreground: #f2f2f2
URxvt*shading: 30
URxvt*scrollBar: false
URxvt*inheritPixmap: true
URxvt*fading: 20
URxvt*saveLines: 3000
URxvt*termName: M104
URxvt*internalBorder: 0
URxvt*jumpScroll: true

URxvt*color0: #101010
URxvt*color1: #ffff00
URxvt*color2: #93f91d
URxvt*color3: #44ff0a
URxvt*color4: #004f9e
URxvt*color5: #ec0048
URxvt*color6: #2aa7e7
URxvt*color7: #f2f2f2
URxvt*color8: #1d202f
URxvt*color9: #ff361e
URxvt*color10: #ffc005
URxvt*color11: #93ff00
URxvt*color12: #0071ff
URxvt*color13: #ef0051
URxvt*color14: #4bb8fd
URxvt*color15: #a020f0

!URxvt.font: -*-terminus-medium-*-*-*-*-140-*-*-*-*-iso8859-1
URxvt*font: xft:Inconsolata-10

! Scrollbar plain (rxvt, plain, next, xterm)
URxvt*scrollstyle: plain

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! clickable URLs
URxvt*perl-lib: /usr/lib/URxvt/perl
URxvt*perl-ext-common: default,url-select,keyboard-select,clipboard
URxvt*url-launcher: /usr/bin/chromium
URxvt*colorUL: #4682B4
URxvt*keysym.M-w: perl:keyboard-select:activate
URxvt*keysym.M-s: perl:keyboard-select:search
URxvt*keysym.M-u: perl:url-select:select_next
URxvt*keysym.M-c: perl:clipboard:copy
URxvt*keysym.M-v: perl:clipboard:paste
URxvt*keysym.M-C-v: perl:clipboard:paste_escaped
URxvt*url-select.autocopy: true
